<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Whisper</h1> <!-- Whisper text -->
    </header>
    <main>
        <img src="{{ url_for('static', filename='Speech.png') }}" alt="App Logo" class="logo"> <!-- Logo image -->
        <nav>
            <ul>
                <li><a href="/index">Record Speech</a></li>
                <li><a href="/history">History</a></li>
                <li><a href="/settings">Settings</a></li>
            </ul>
        </nav>
    </main>
</body>
</html>
