<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech Transcription</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Speech Transcription</h1> <!-- Whisper text -->
    </header>
    <main>
        <div class="center">
            <textarea id="transcription" rows="20" cols="80" readonly></textarea>
            <button id="recordButton">Record</button>
        </div>
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
